h3 {
  color: #99cdec;
}

p-carousel.disabled {
  pointer-events: none;
}

.start-over-button {
  margin: 0 0 0 0.5rem;
  width: auto;
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}
