p-carousel .custom-carousel.p-carousel.p-component.p-carousel-horizontal {
  width: 70vw;
  margin: 0 auto;
  font-family: cursive;
}

.p-carousel-content {
  margin-top: 60px;
}

.p-carousel-indicator button {
  cursor: default;
  pointer-events: none;
}
